<div id="banner" class="card">
    <!-- indicators -->
    <!-- wrapper for slides -->
    
    <div class="banner-source-images js-banner-images">
            
            <div class="banner-image-container large-leaderboard">
                <img class="ads-image" src="/media/assets/ads2.png" alt="">
            </div>
            
    </div>
    <div class="flat-hidden banner-texts js-banner-texts">
        <div class="banner-text rectangle-ads">Des Produits de qualités à des prix imbatables</div>
        <div class="banner-text rectangle-ads">Chez <span class="ads-site-name"> LYSHOP </span> vous ne trouvez que des articles <em>originaux</em> </div>
        <div class="banner-text rectangle-ads">
            <div class="flat-column">
                    <span>Livraison sur <strong> Libreville </strong> et <strong> Port-gentil </strong> .</span>
                    <div class="flat-column">
                        <span>Vous n'êtes pas dans ces villes ?</span>
                        <span>pas grave, vous pouvez demandez à un parent ou ami de recupperer votre paquet.</span>
                    </div>
                    
            </div>
            
        </div>

        <div class="banner-text rectangle-ads">
            Profitez des offres du moment
        </div>
    </div>
    <div id="js-banner-content" class="banner-content" role="listbox">
        <div class="flat-row">
             <div class="ads-site-name">LYSHOP</div>
        </div>
        <div class="flat-row">
            <div class="banner-item full-banner">

            </div>
        </div>
        
    </div> <!-- End of Wrapper -->

    <!-- Left and Right controls -->
    
</div> <!-- End of Banner -->